
# Python / Ambientes virtuais
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-arg.txt
.tox/

# Testes / Cobertura de código
.coverage
.coverage.*
htmlcov/
.cover/
.pytest_cache/
.hypothesis/
.mypy_cache/
.dmypy.json
.ruff_cache/

# Notebooks / IDE
.ipynb_checkpoints/
.spyproject/
.vscode/
.idea/

# Dados gerados pela pipeline
bronze/
silver/
gold/

# log temporários
*.log
# Arquivos de dados
*.csv
*.parquet


